body { /* This is styling for the font. */ 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1{ /* This is styling for the header. */ 
  text-align: center;
  color: black;
}
* {
  box-sizing: border-box; /* This is styling for the image. */ 
}
.flex-container { /* This is styling for the image. */ 
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flex-item-left { /* This is styling for the image. */ 
  width: 100%;
  padding: 10px;
  flex: 100%;
}
.navbar { /* This is styling for the nav. */ 
  overflow: hidden;;
  background-color: black;
}
.navbar a { /* This is styling for the nav. */ 
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover { /* This is styling for the hover colour. */ 
  background-color: #ddd;
  color: black;
}
.navbar a.active { /* Colour will change if the user is on it. */ 
  background-color: black;
  color: white;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 731px) { /* This media is used for hiding parts of the nav bar when on a diffrent view point. */ 
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 731px) { /* This media is used for hiding parts of the nav bar when on a diffrent view point. */ 
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.text-center { /* This will centre text. */ 
  text-align: center;
}
footer { /* This is the styling for the footer. This will always be at the bottom of the page. */ 
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  padding: 4px;
  background-color: black;
}