body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(/Sunset-GT-/Images/Sunsetgtcars.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;  
  background-position: center;
  background-size: cover;
}
h1{
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.navbar {
  overflow: hidden;;
  background-color: black;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: black;
  color: white;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 731px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 731px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.text-center {
  text-align: center;
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  padding: 4px;
  background-color: black;
        
}